header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  color: MediumAquamarine;
}

.menu {
  display: flex;
}

.menu span {
  display: inline-block;
}
